main {
  min-height: 100vh;
  padding: 20px 0 0 0;
}

.Main {
  text-align: center;
  vertical-align: middle;
}

.Main.autumn {
  background-image: linear-gradient(to bottom,
      rgba(0, 255, 213, 0.52),
      rgba(0, 0, 0, 0.73)),
    url("../images/autumn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
}

.Main.winter {
  background-image: linear-gradient(to bottom,
      rgba(0, 255, 213, 0.52),
      rgba(0, 0, 0, 0.73)),
    url("../images/winter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
}

.Main.spring {
  background-image: linear-gradient(to bottom,
      rgba(255, 16, 16, 0.52),
      rgba(0, 0, 0, 0.73)),
    url("../images/spring.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
}

.Main.summer {
  background-image: linear-gradient(to bottom,
      rgba(255, 16, 16, 0.52),
      rgba(0, 0, 0, 0.73)),
    url("../images/summer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
}

.ui.form input[type=text]::placeholder {
  color: #fff;
}

.location-container {
  margin-top: 30px;
}

.location-container .location {
  color: #fff;
  font-size: 50px;
  text-align: center;
  text-shadow: 3px 3px rgba(58, 53, 53, 0.73);
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
  display: inline-block;
  font-weight: 700;
}

.location-container .date {
  color: #fff;
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px rgba(58, 53, 53, 0.73);
}

.weather-container {
  text-align: center;
  padding-top: 50px;
}

.weather-container .temperature {
  color: white;
  display: inline-block;
  margin: 30px auto;
  padding: 15px 25px;
  font-size: 100px;
  font-weight: 700;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 16px;
  text-shadow: 3px 3px rgba(58, 53, 53, 0.73);
}

.weather-container .weather {
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 3px 3px rgba(58, 53, 53, 0.73);
}

.weather-container .weather-more {
  display: inline-flex;
  color: white;
  font-weight: 500;
  padding-top: 50px;
}

.weather-container .weather-more .more-item {
  text-shadow: 3px 3px rgba(58, 53, 53, 0.73);
  padding-left: 10px;
  padding-right: 10px;
}

.weather-container .weather-more .more-item .value {
  font-size: 18px;
}

label {
  color: white;
  margin: 5px;
  font-size: 15px;
  font-family: fantasy;
}

.forecast {
  display: inline-flex;
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 400px;
  vertical-align: middle;
  align-items: baseline;
}

.forecast-container{
  color: white;
  font-size: 12px;
}

.forecast-container .date{
  display: inline-flex;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.forecast-container .temperature{
  display: inline-flex;
  color: white;
}

.forecast-container .more {
  text-shadow: 3px 3px rgba(58, 53, 53, 0.73);
  color: white;
}

.section-separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.section-separator::before, .section-separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #fff;
}

.section-separator::before {
  margin-right: .25em;
}

.section-separator::after {
  margin-left: .25em;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main.autumn {
  background-color: #67BBAA;
  transition: 0.2s ease;
  position:fixed;
  width: 70%;
  height: 50%;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.modal-main.winter {
  background-color: #67BBAA;
  transition: 0.2s ease;
  position:fixed;
  width: 70%;
  height: 50%;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.modal-main.spring {
  background-color: #ff9a9a;
  transition: 0.2s ease;
  position:fixed;
  width: 70%;
  height: 50%;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.modal-main.summer {
  background-color: #ff9a9a;
  transition: 0.2s ease;
  position:fixed;
  width: 70%;
  height: 50%;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}